<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite" parallel="methods" thread-count="2">

    <test name="SampleTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testCases.DemoQAElementsRelatedTests">
                <methods>
<!--                    <include name="TextBoxVisibility"/>-->
<!--                    <include name="submitFormData"/>-->
<!--                    <include name="checkBoxAccessibility"/>-->
<!--                    <include name="selectDeselectSingleCheckbox"/>-->
                    <include name="selectDeselectMultipleCheckbox"/>

                </methods>
            </class>
        </classes>
    </test>
</suite>